worker_processes  1;

events {
    worker_connections  1024;
}

stream {
    upstream grpc_backend {
        server validator0:9090;
        server validator1:9091;
        server validator2:9092;
    }

    server {
        listen 9443 ssl;
        ssl_certificate     /etc/nginx/certs/server.crt;
        ssl_certificate_key /etc/nginx/certs/server.key;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;
        proxy_pass grpc_backend;
    }
} 