name: golangci-lint
on:
  push:
    branches:
      - main
      - dev
      - release-*
  pull_request:

permissions:
  contents: read
  # Optional: allow write access to checks to allow the action to annotate code in the PR.
  checks: write

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60.3
          args: --timeout=10m

  custom-linters:
    name: custom-linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: check-defer-close
        run: go run ./linter/check-defer-close .
        timeout-minutes: 10
